@media only screen and (max-width: 500px) {
  .gbr {
    padding-left: 3rem;
  }

  .kualitas {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 700px) {
  .gbr {
    padding-left: 2rem;
  }

  .kualitas {
    padding-left: 2rem;
  }

  .kartu {
    margin-left: 10rem;
  }
}

@media only screen and (min-width: 1025px) {
  .gbr {
    padding-left: 4rem;
  }

  .kualitas {
    padding-left: 4rem;
  }
}

@media only screen and (min-width: 800px) {
  .gbr {
    column-gap: 10;
  }
}
